
.schachtelOverlay {
  position: fixed;
  top: 0;
  bottom: -100%;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 99;
  overflow: hidden;
}

.schachtelDebug {
  color: rgba(255,0,255,0.1);
  background: rgba(255,0,255,0.05);
  background-clip: content-box;
  box-shadow: 1px 0 0 0, -1px 0 0 0, inset 1px 0 0 0, inset -1px 0 0 0;
}
