body {
  margin: 0;
  min-width: 320px;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  font-size: 0;
}

header {
  background: #eee;
}
footer {
  background: #eee;
}
aside {
  background: #ddd;
}
main {
  background: #fff;
}

._demo_style__logo {
  margin: 0;
  font-weight: lighter;
}

._demo_style__slogan {
  margin: 0;
  font-weight: lighter;
}

._demo_style__debug {
  color: #333;
  background: rgba(0,0,255,0.1);
  background-clip: content-box;
  box-shadow: inset 0 0 0 1px rgba(0,0,255,1), 0 0 0 1px rgba(0,0,255,1);
  border-radius: 3px;
}