
.grid__schachtelGrid__39f27337 {
  display: flex !important;
  flex-wrap: wrap !important;
  flex: 1 !important;
}

.grid-overlay__schachtelOverlay__a9e4c021 {
  position: fixed;
  top: 0;
  bottom: -100%;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 99;
  overflow: hidden;
}

.grid-overlay__schachtelDebug__ebd9cd19 {
  color: rgba(255,0,255,0.1);
  background: rgba(255,0,255,0.05);
  background-clip: content-box;
  box-shadow: 1px 0 0 0, -1px 0 0 0, inset 1px 0 0 0, inset -1px 0 0 0;
}

.sub-grid__schachtelSubGrid__71c82460 {
  display: flex !important;
  flex-wrap: wrap !important;
  flex: 1 !important;
}
